<!-- Footer -->
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<footer>
  <div class="font-footer">
    <div class="warpher">
      <div class="row">
        <div class="col-xs-3" style="padding: 20px;">
          <p style="font-weight: 600;">THÔNG TIN ĐIỆN MÁY XANH</p>
          <a href="javascript:void(0)"><p>Hệ thống 1042 siêu thị (8:00 - 22:00)</p></a>
          <a href="javascript:void(0)"><p>Giới thiệu công ty</p></a>
          <a href="javascript:void(0)"><p>Tìm việc làm</p></a>
          <a href="javascript:void(0)"><p>Liên hệ, góp ý</p></a>
          <a href="javascript:void(0)"><p>Xem thêm</p></a>
        </div>
        <div class="col-xs-3"  style="padding: 20px;">
          <p style="font-weight: 600;">HỖ TRỢ KHÁCH HÀNG</p>
          <a href="javascript:void(0)"><p>Tìm hiểu về mua trả góp</p></a>
          <a href="javascript:void(0)"><p>Giao hàng, lắp đặt</p></a>
          <a href="javascript:void(0)"><p>Bảo hành, đổi trả</p></a>
          <a href="javascript:void(0)"><p>DV vệ sinh máy lạnh, máy giặt, quạt</p></a>
          <a href="javascript:void(0)"><p>Xem thêm</p></a>
        </div>
        <div class="col-xs-3"  style="padding: 20px; vertical-align: middle;">
          <p style="font-weight: 600;">TỔNG ĐÀI HỖ TRỢ (GỌI MIỄN PHÍ)</p>
          <p>Mua hàng <a href="tel:18001764">1800.1061</a> (7:30 - 22:00)</p>
          <p>Kỹ thuật <a href="tel:18001764">1800.1764</a> (7:30 - 22:00)</p>
          <p>Bảo hành <a href="tel:18001764">1800.1065</a> (8:00 - 21:00)</p>
          <p>Khiếu nại <a href="tel:18001764">1800.1063</a> (8:00 - 21:30)</p>
          <a href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20790"> <img src="../assets/da_thong_bao_bo_cong_thuong.png"> </a>
          <a href="javascript:void(0)"> <img src="../assets/noi_khong_voi_hang_gia_bo_cong_thuong.png">   </a>
          <a href="https://www.dmca.com/Protection/Status.aspx?ID=69bc7638-1181-4a0f-ab78-247bea1eab81&amp;refurl=https://www.dienmayxanh.com/" title="DMCA.com Protection Status" > <img data-src="https://cdn.tgdd.vn/dmx2016/Content/images/dmca_protected_sml_120n.png" alt="DMCA.com Protection Status" src="https://cdn.tgdd.vn/dmx2016/Content/images/dmca_protected_sml_120n.png" style="height: 40px !important;"></a>
        </div>
        <div class="col-xs-3"  style="padding: 20px;">
          <br>
          <a href="https://www.facebook.com/dienmayxanhcom"><i style="font-size: 20px; color:#3d6ad6;" class="fa fa-facebook-square" aria-hidden="true"></i><strong style="padding:0px 10px ;border-right: 1px solid grey;">1559.6k fan      </strong></a> 
          <a href="https://www.youtube.com/user/dienmaycom"><i class="fa fa-youtube-play" aria-hidden="true" style="padding:0px 10px; font-size: 20px; color: #cf1717;"></i><strong>481k đăng ký </strong> <br></a>
          Website cùng tập đoàn: 
          <br><br>
          <a class="mwg-logo" target="_blank" href="https://www.maiamtgdd.vn/"><img style="margin-left: -5px;" src="../assets/mai_am_tgdd.png">  </a>
          <br>
          <a class="mwg-logo" target="_blank" href="https://www.thegioididong.com/"><img src="../assets/logo.PNG">   </a>
          <br>
          <a class="mwg-logo" target="_blank" href="https://www.bachhoaxanh.com/"><img src="../assets/bach_hoa_xanh.png">  </a>
        </div>
      </div>
      <div style="height: 50px;width: 100%;  padding: 10px 10px; font-size: 10px; color:#999">
        © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GP số 57/GP-TTĐT do Sở TTTT TP HCM cấp ngày 30/07/2018.
        <br>
        Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Quận 1, TP.Hồ Chí Minh. Điện thoại: (028)3812.59.60. Email: cskh@dienmayxanh.com. Chịu trách nhiệm nội dung: Trần Nhật Linh. Xem chính sách sử dụng web
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->