<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-8 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Thông tin điện máy xanh</h5>
        <p>Hệ thống có 1024 siêu thị (18:00 - 22:00)</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-4 mb-md-0 mb-3">

        <!-- Links -->
        <h6 class="text-uppercase">TỔNG ĐÀI HỖ TRỢ (GỌI MIỄN PHÍ) </h6>
 
        <ul class="list-unstyled">
          <li>
            <h6>Mua hàng <b style="color: #1b1b1b">1800.1061</b> (7:30 - 22:00)</h6>
          </li>
          <li>
            <h6>Kỹ thuật <b style="color: #1b1b1b">1800.1764</b> (7:30 - 22:00)</h6>
          </li>
          <li>
            <h6>Bảo hành <b style="color: #1b1b1b">1800.1065</b> (8:00 - 21:00)</h6>
          </li>
          <li>
            <h6>Khiếu nại <b style="color: #1b1b1b">1800.1063</b> (8:00 - 21:00)</h6>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href=""> </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->