footer {
    width: 100%;
    min-width: 1024px;
    margin: 10px auto 0;
    background: #fff;
    overflow: visible;
    clear: both;
    position: relative;
    display:block;
}

.rowfoot1 {
    display: block;
    overflow: hidden;
    width: 100%;
    min-width: 1024px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 0;
}