<!-- Footer -->
<footer>
  <div class="font-footer">
    <div class="warpher">
      <div class="row">
        <div class="col-xs-3" style="padding: 20px;">
          <p>THÔNG TIN ĐIỆN MÁY XANH</p>
          <p>Hệ thống 1042 siêu thị (8:00 - 22:00)</p>
          <p>Giới thiệu công ty</p>
          <p>Tìm việc làm</p>
          <p>Liên hệ, góp ý</p>
          <p>Xem thêm</p>
        </div>
        <div class="col-xs-3"  style="padding: 20px;">
          <p>HỖ TRỢ KHÁCH HÀNG</p>
          <p>Tìm hiểu về mua trả góp</p>
          <p>Giao hàng, lắp đặt</p>
          <p>Bảo hành, đổi trả</p>
          <p>DV vệ sinh máy lạnh, máy giặt, quạt</p>
          <p>Xem thêm</p>
        </div>
        <div class="col-xs-3"  style="padding: 20px;">
          <p>TỔNG ĐÀI HỖ TRỢ (GỌI MIỄN PHÍ)</p>
          <p>Mua hàng <a href="tel:18001764">1800.1061</a> (7:30 - 22:00)</p>
          <p>Kỹ thuật <a href="tel:18001764">1800.1764</a> (7:30 - 22:00)</p>
          <p>Bảo hành <a href="tel:18001764">1800.1065</a> (8:00 - 21:00)</p>
          <p>Khiếu nại <a href="tel:18001764">1800.1063</a> (8:00 - 21:30)</p>
          <a target="_blank" rel="nofollow" class="bct" href="http://online.gov.vn/HomePage/CustomWebsiteDisplay.aspx?DocId=20790"> <i class="icondmx-bct"></i> </a>
          <a class="logo-chg" href="/dieu-khoan-su-dung#giai-quyet-khieu-nai"> <i class="icondmx-chg"></i> </a>
          <div id="DMCA-badge"><a href="https://www.dmca.com/Protection/Status.aspx?ID=69bc7638-1181-4a0f-ab78-247bea1eab81&amp;refurl=https://www.dienmayxanh.com/" title="DMCA.com Protection Status" class="dmca-badge"> <img class="lazy" data-src="https://cdn.tgdd.vn/dmx2016/Content/images/dmca_protected_sml_120n.png" alt="DMCA.com Protection Status" src="https://cdn.tgdd.vn/dmx2016/Content/images/dmca_protected_sml_120n.png" style="display: inline; opacity: 1;"></a></div>
        </div>
        <div class="col-xs-3"  style="padding: 20px;">
          <i style="color:#3d6ad6;" class="fa fa-facebook-square" aria-hidden="true"></i>1559.6k fan  <i class="fa fa-youtube-play" aria-hidden="true" style="color: #cf1717;"></i>481k đăng ký <br>
          Website cùng tập đoàn: <br>
          <a class="mwg-logo" target="_blank" href="https://www.maiamtgdd.vn/"> </a>
          <a class="mwg-logo" target="_blank" href="https://www.thegioididong.com/">  </a>
          <a class="mwg-logo" target="_blank" href="https://www.bachhoaxanh.com/">  </a>
        </div>
      </div>
      <div style="height: 50px;width: 100%; border-top: 2px solid #b1acac; padding: 10px 10px; font-size: 10px; color:#999">
        © 2018. Công ty cổ phần Thế Giới Di Động. GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007. GP số 57/GP-TTĐT do Sở TTTT TP HCM cấp ngày 30/07/2018.
        <br>
        Địa chỉ: 128 Trần Quang Khải, P. Tân Định, Quận 1, TP.Hồ Chí Minh. Điện thoại: (028)3812.59.60. Email: cskh@dienmayxanh.com. Chịu trách nhiệm nội dung: Trần Nhật Linh. Xem chính sách sử dụng web
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->