
<div class="fillterbak">
    <div class="bak">
        <div class="container-fluid">
            <div class="filter ">
                <div class="inline" >
                    <p class="title-addgroupquyen">{{ktraundefinde(this.allgroup[0].tengroup)}}</p>
                </div>
            </div>
            <div class="filter">
                <div>
                     <ng-container>
                        <br><br>
                       
                        <ng-container *ngFor="let o of addquyen,let i=index">
                            <div><button class="buttonpanelclose"><i class="fas fa-times-circle fa-2x" (click)="Removeaddtext(i)"></i></button></div>
                            
                            <label style="margin-left: 10px;" >Quyền truy cập: </label> 
                            <select style="margin-left: 10px;" [(ngModel)] ="selected[i]" (change)="valueChange($event)">
                                <option [ngValue]="undefined" disabled selected>Select Any </option>
                                <option *ngFor="let obj of alldsq" [ngValue]="obj._id" [selected]="obj._id == selected[i]">{{obj.tenquyen}}</option>             
                            </select>
                            <br><br>
                        </ng-container>
                        <div class="buttonpanel"><i class="fas fa-plus fa-3x" (click)="Add()"> Thêm</i></div>
                    </ng-container>
                </div>
            </div>
            <div class="footer-addgroupquyen">
                <div class="container">
                    <button class="btn btn-outline-dark" type="button" id="save_tk" (click)="back()"><i class="fas fa-caret-square-left"></i></button>
                    <button class="btn btn-primary" type="button" id="save_tk" (click)="onSubmit()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
