.header{
    min-width: 1024px;
    background: #4a90e2;
    width: 100%;
    height: 102px;
    z-index: 999;
    position: relative;
}

.warpher{
    max-width: 1200px;
    min-width: 1024px;
    width: 100%;
    height: 50px;
    background: #4a90e2;
    margin: auto;
    position: relative;
    display: block;
}

.main-navigation {
    background: #FFFFFF;
    height: 52px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}

.dropdown-menu{
    margin: 10px 0px 0px 0px;
    display: block;
    background: #fff;
    overflow: visible;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.2);
    border-left: 1px solid #ddd;
    width:100%;
}

.dropdown-item{
    height:30px;
}

.mainmenu{
    height:52px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);

}

.nav-link1{
    height:52px;
    margin:10px 20px 10px 0px;
}

li {
    list-style-type: none;
}

.fontWeightBold {
    font-weight: bold;
}

.fontVariant {
    font-weight: 400;
}

.logo {
    float: left;
    width: 174px;
    display: block;
}

.icondmx-logo {
    background-position: 0 0;
    width: 200px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
}

.icondmx-tivi {
    background-position: 10px -156px;
    width: 20px;
    height: 13px;
    margin-top: 3px;
}

[class^="icondmx-"], [class*="icondmx-"] {
    background-image: url(https://cdn.tgdd.vn/dmx2016/Content/images/V2/global/icondesktop@1x.v202005162200.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 20px;
    vertical-align: middle;
}

nav li.active i {
    opacity: 1;
}

nav li i {
    opacity: .5;
    float: left;
    margin-right: 3px;
}

.span {
    position: relative;
    display: block;
    color: #333;
    line-height: 20px;
    margin:0px 10px 0px 10px;
    border-bottom: 1px solid #eee;
}

a{
    display: inline-block;
    font-size: 14px;
    color: #333;
}