<div class="header">
  <div class="warpher">
  	<a class="logo" title="về trang chủ.com">điện máy xanh</a>
  </div>
  <div class="row">
  <nav class="navbar">
  <!-- Navbar content -->
  	<div class="nav-item dropdown">
        <a class="nav-divnk dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-bars" ></i>Danh mục
        </a>
        <div class="dropdown-menu " aria-labelledby="navbarDropdown">
        <div class="v" >
          <a class="dropdown-item" href="#">Đồ gia dụng <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">laptop <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">Đồ gia dụng <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">laptop <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">Đồ gia dụng <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">laptop <i class="fa fa-chevron-right"></i> </a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">Đồ gia dụng <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">laptop <i class="fa fa-chevron-right"></i></a> 
        </div>
        <div class="v" >
          <a class="dropdown-item" href="#">Đồ gia dụng <i class="fa fa-chevron-right"></i></a>
        </div>
        <div class="v" > 
          <a class="dropdown-item" href="#">laptop <i class="fa fa-chevron-right"></i></a> 
         </div>
        </div>
    </div>
  </nav>
</div>
</div>