.header{
    min-width: 1024px;
    background: #4a90e2;
    width: 100%;
    height: 102px;
    z-index: 999;
    position: relative;
}

.warpher{
    max-width: 2000px;
    min-width: 1024px;
    width: 100%;
    height: 50px;
    background: #4a90e2;
    margin: auto;
    position: relative;
    display: block;
}


.main-navigation {
    background: #FFFFFF;
    height: 52px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    position: relative;
    border-bottom: 1px solid #dfdfdf;
}

.dropdown-menu{
    background: #fff;
    overflow: visible;
    box-shadow: 2px 0 4px 0 rgba(0,0,0,.2);
    border-left: 1px solid #ddd;
    width:100%;
    padding:0px;
    display: block;
}

.dropdown-item{
    height:30px;
    padding:0px;
}

.mainmenu{
    height:52px;
    width:100%;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    vertical-align:middle;
    display: table-cell;
}

.mainmenudm{
    min-width: 1024px;
    background: #4a90e2;
    width: 100%;
    position: relative;
}

li {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.fontWeightBold {
    font-weight: bold;
    margin-right: 5px;
}

.fontVariant {
    font-weight: 400;
    float:right;
    margin-right: 10px;
}

.cter {
    margin-left:30px;
}

.logo {
    float: left;
    width: 174px;
    display: block;
}

.icondmx-logo {
    background-position: 0 0;
    width: 200px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    display: inline-block;
    line-height: 30px;
    vertical-align: middle;
    margin-left: 80px;
}

.icondmx-tivi {
    background-position: 10px -156px;
    width: 20px;
    height: 13px;
    margin-top: 3px;
}


nav li.active i {
    opacity: 1;
}

nav li i {
    opacity: .5;
    float: left;
    margin-right: 3px;
}

.span1 {
    position: relative;
    color: #333;
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
    color: #333;
    width:100%;
    float:center;

}

a{
    display: inline-block;
    font-size: 14px;
    color: #333;
    padding:0px !important;
    margin-left:2px !important;
}

li.active>span {
    font-weight: bold !important;
}

li>span{
    border-bottom: 1px solid #eee;
    padding: 5px 0 4px 0;
    weight:10px;
}

.dropdown-item a:hover {
    color: #4a90e2 !important;
    font-weight: bold !important;
    line-height: 20px;
    text-decoration: none;
}

.dropdown-item:hover a{
    font-weight: bold !important;
}

.mainmenu .moreCate {
    display: inline-block;
    vertical-align: middle;
    padding-left: 17px !important;
    margin-left: 15px !important;
    border-left: 1px solid #ddd;
}

section {
    width: 100%;
    min-width: 980px;
    margin: auto;
    position: relative;
    
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

li .subcate {
    display: none;
    cursor: default;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 211px;
    height: 344px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);

}

.family-nav aside {
    width: 210px;
    padding: 5px 10px;
    float: left;
}


.family-nav aside strong {
    border-bottom: solid 1px #ddd;
    display: block;
    height: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.family-nav aside a {
    line-height: 25px;
    display: -webkit-box;
    padding:2px 0 !important;;
}

.family-nav  li aside strong a {
    font-size: 12px;
    color: #4a90e2;
    font-weight: bold;
    margin-left: 10px;

}

.dropdown-content {
  display: block;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.d-line{
    margin-top:10px !important;
}

.family-nav li{
    display: inline-block;
}

td{
    padding:20px;
}
