.warpher{
    background:#4a90e2;
    text-align: center;
    padding: 1em;
}

.logo{
    
    width:100px;
    height:100px;
}

.navbar{
    background-color:#696969;
    display:inline-block;
}

.row{
    background-color:#fff;
    color: white;
    box-shadow: 0px 4px #DCDCDC;
}

li {
    list-style-type: none;
}

#navbarDropdown{
    pointer-events: none;
    cursor:not-allowed;

}
.dropdown-item{
border-bottom: 1px solid #DCDCDC;
  height:10px !important;
}
.dropdown-menu{
    display:block;
    margin-top:0.4rem;
    width:300px;

}
.v{
    
    margin:20px 20px;
    font-size:15px;
}

.fa-chevron-right{
    float: right;
    margin-top:6px;
}
.fa-bars{
    color:#000 !important; 
    margin:2px 2px; 
}


