<div class="danhgia-popup">
  <div class="danhgia-title">Nhập thông tin</div>
  <div class="danhgia-info">
    <div class="danhgia-radio">
      <input type="radio" id="danhgia_male" name="danh_gia_radio">
      <label> Anh</label>
      <input type="radio" checked="true" id="danhgia_female" name="danh_gia_radio">
      <label> Chị</label>
    </div>
    <div>
      <input id="hotendgp" type="text" placeholder="Nhập họ tên (bắt buộc)" class="cfm-UserName">
      <input id="emaildgp" type="text" placeholder="Email (khi cần nhận phản hồi qua mail)" class="cfm-UserEmail">
    </div>
    <div>
      <button class="btn-submit-danhgia" type="submit" (click)="danhgia_save_modal()">Cập nhật</button>
    </div>
  </div>
</div>
