<!-- breadcrumb -->
<div class="bak">
<div class="body">
    <div class="title">
        <p>Loại Sản Phẩm</p>
    </div>
    <hr>
    <div id="taoloaisanpham">
        <label class="valuend" for="tensp">Tên loại sản phẩm <span style="color:red;font-weight:bold">(*)</span>: </label>
        <input type="text"  value={{tenloaisp}} id="tensp">
        <br>  <br>
        <div class="filter-item">
        <div style="width: auto; height: auto;">
            <label class="valuend">Thương hiệu: </label>
            <ng-container *ngFor="let itemthdc of allth_dachon, let i=index">
                <a class="aboder">
                    <label id="labelthdc_{{i}}" for="thdc_{{i}}"> {{itemthdc}}</label>
                    <i style="color: red; cursor: pointer;" class="fas fa-times fas_time fas_thdc" (click)=Removeth(i)></i>
                </a>
            </ng-container>
        </div>
        <table class="category" id="field-wrapper">
            <td id="td_{{i}}" *ngFor="let item of allth,let i=index">
                <a>
                    <input type="checkbox" id="category_{{i}}" (change)="suggest_category(item)">
                    <label id="labelth_{{i}}" for="category_{{i}}"> {{item}}</label>
                    <ng-container *ngIf="i>this.count_allth-1">
                        <i id="rth_{{i}}" style="float: right; color: red; cursor: pointer;" class="fas fa-times fas_time" (click)="Removeth_them(item)"></i>
                    </ng-container>
                    
                    <br>
                </a>
            </td>
        </table>
        <i class="fas fa-plus" id="btn_themth" style="cursor: pointer;" (click)=Addth()> Thêm thương hiệu mới</i>
        <i class="fas fa-times fas_time" id="btn_closeth" style="cursor: pointer; color: red;" (click)=Addth1()> Hoàn tất thêm thương hiệu mới</i>
        <div id="div_themth" style="margin-top: 22px;">
            <label class="valuend">Thêm thương hiệu mới: </label>
            <input id="add-th" class="value1" type="text">
            <button type="button" class="btn btn-outline-success" (click)="Addth3()">Thêm thương hiệu vào danh sách</button>
        </div>
        <br><br>
        </div>
        <div>
        <label class="valuend">Đặc trưng: </label>  
        <div id="field-wrapper" *ngFor="let item of alldt,let i=index">
            <i class="fas fa-times fas_time" id="btn_closedt" style="cursor: pointer; color: red;" (click)=Remove(i)></i>
            <div class="titlediv">
                <label>Tên đăc trưng {{i+1}} <span style="color:red;font-weight:bold">(*)</span>:</label>
                <input id="input{{i}}" value={{keys(item)}} class="value1" type="text" #maRef>
                <br>
                <label>Danh sách đăc trưng {{i+1}} <span style="color:red;font-weight:bold">(*)</span>:</label>
                <br>
            <!-- <div *ngFor="let itemct of allslctdt[0], let k=index">
                <ng-container *ngFor="let items of arrayOne(allctdt[1])">
                <div class="card">
                    <div class="card-header">
                        <span>Đặc trưng <span>{{i+1}}</span> <span style="color:red;font-weight:bold">(*)</span>:</span>
                    </div>
                    <div class="card-body">
                        <p>{{k}}</p>
                        <input id="text{{k}}" (keyup)="keydb(k)" value={{item[keys(item)]}} type="text" #maRef>
                    </div>
                    <div class="card-footer">
                        <button  (click)="get()">vss</button>
                    </div>
                </div>
                </ng-container>
            </div> -->
            <div class="value2">
                <div id="wmd-button-bar">
                    <ul id="wmd-button-row" class="wmd-button-row">
                        <li class="wmd-button" id="wmd-quote-button" title="Nhập ký tự đặc biệt" style="left: 100px;">
                            <span style="background-position: -60px 0px; margin-left: 10px;"><i class="fab fa-acquisitions-incorporated" *ngIf="hiddenwarbutton(1)" (click)="this.ktu=0"></i><i class="fas fa-ban" *ngIf="hiddenwarbutton(0)" (click)="this.ktu=1"></i></span>
                        </li>
                    </ul>
                        <textarea id="text{{i}}" (keyup)="keydb(i)" value={{item[keys(item)]}} class="value2" type="text" #maRef></textarea>      
                </div>
                <br>
            </div>
        </div>
        <br>  <br>
        </div>
        <i class="fas fa-plus" style="cursor: pointer;" (click)=Add()> Thêm</i>
        <br>  <br>
        <div>
            <label class="valuend">Tiêu chí đánh giá: </label>  
            <div id="field-wrapper" *ngFor="let item of alltcdg,let i=index">
                <i class="fas fa-times fas_time" id="btn_closetcdg" style="cursor: pointer; color: red;" (click)=Removetcdg(i)></i>
                <div class="titlediv">
                    <label>Tiêu chí đánh giá {{i+1}} :</label>
                    <input id="inputtcdg{{i}}" class="value1" value="{{item}}" type="text" #tieuchig>
                    <br>
                </div>
            </div>
            <br>  <br>
        </div>
        <i class="fas fa-plus" style="cursor: pointer;" (click)=Addtcdg()> Thêm</i>
    </div>
    <div class="container">
        <button class="btn btn-outline-dark" type="button" id="save_tk" (click)="back()"><i class="fas fa-caret-square-left"></i></button>
        <button class="btn btn-primary" type="button" id="save_sanpham" (click)="onSubmit()">Save</button>
        <button *ngIf="ktthaotacdelete"  class="btn btn-primary" type="button" id="save_sanpham" (click)="Deletelsp()">Delete</button>
        <button type="button" class="btn btn-warning" id="clear_sanpham" (click)="reset()">Clear</button>
    </div>
</div>
</div>

