<div id="list_product">
  <img class="banner" src={{banner}}>
  <div class="title-head">
    <div class="title-head-info">
      4 LỢI ÍCH CHỈ CÓ TẠI ĐIỆN MÁY XANH
      <div id="triangle-right"> </div>
    </div>
    <i class="fas fa-truck" aria-hidden="true"></i>Giao hàng miễn phí
    <i class="fa fa-cogs" aria-hidden="true"></i>Miễn phí công lắp đặt
    <i class="fa fa-retweet" aria-hidden="true"></i>1 đổi 1 trong 1 tháng (Nếu lỗi)
    <i class="fa fa-shield" aria-hidden="true"></i>Bảo hành chính hãng
  </div>
  <div *ngIf="id_loai_sanpham == 0"
    style="height: 53vh;font-size: 18px;font-weight: 600;padding-top: 122px;vertical-align: middle;text-align: center;">
    Không tìm thấy sản phẩm !!!
  </div>
  <div *ngIf="id_loai_sanpham != 0" class="body-list row">
    <div class="left-panel">
      <div class="radio-filter">
        <label style="margin-top: 8px; height: 24px;">
          <input type="checkbox" checked="checked">Mới 2020
        </label>
        <span>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_banchaynhat()">Bán
              chạy</span></label>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_caothapdenthap()">Giá
              cao đến thấp</span></label>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_giathapdencao()">Giá
              thấp đến cao</span></label>
        </span>
        <label style="line-height: 30px; display: flex; margin: 0;" *ngIf="items.length > 0">
          {{itemsphu.length}} sản phẩm
        </label>
      </div>
      <div class="list">
        <div id="list_1">
          <ng-container *ngFor="let item of items">
            <a [routerLink]="['/appmain/productdetails', item._id]">
              <div class="box-list-product">
                <div><label class="tra-gop"> Trả góp 0% </label><img src="{{item.hinhdaidien}}"></div>
                <p class="list-product-name">{{item.ten}}</p>
                <p *ngIf="item.giamgia!=0 && item.giamgia!=null" style="color: #d0021b;">
                  {{item.giamgia| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                <p>{{item.giaban| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                <p style="color: #fc9639;" *ngIf="item.sosao !=0 && item.sosao !=null">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {{item.sosao}}/5
                </p>
              </div>
            </a>
          </ng-container>
        </div>
        <div *ngIf="(this.itemsphu.length-this.items.length) > 0" class="show-more-list-product"
          style="text-align: center;">
          <a (click)="show_more_list_product()">Xem thêm {{this.itemsphu.length-this.items.length}} sản phẩm</a>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <div class="filter-item">
        <h2>Hãng</h2>
        <div class="category" *ngFor="let category of categories, let i=index">
          <a>
            <input type="checkbox" id="category_{{category}}" (change)="suggest_category(category)">
            <label id="label_{{category}}" for="category_{{category}}"> {{category}}</label>
          </a>
        </div>
      </div>
      <div class="filter-item">
        <h2>Giá Bán</h2>
        <div class="category" *ngFor="let price of prices">
          <a>
            <input type="checkbox" id="price_{{price}}" (change)="suggest_price(price)">
            <label id="label_{{price}}" for="price_{{price}}"> {{price}}</label>
          </a>
        </div>
      </div>
      <div class="filter-item item-inch" style="display: none;">
        <h2>Chọn TIVI Theo Cỡ Màn Hình</h2>
        <img src="https://cdn.tgdd.vn/dmx2016/Content/images/rangeinch.png">
        <div class="category" *ngFor="let item of items_inch">
          <a>
            <input type="checkbox" id="items_inch_{{item}}" (change)="suggest_inch(item)">
            <label id="label_{{item}}" for="items_inch_{{item}}"> {{item}}</label>
          </a>
        </div>
      </div>
      <div class="filter-item item-lit" style="display: none;">
        <h2>Dung Tích</h2>
        <div class="category" *ngFor="let item of items_lit">
          <a>
            <input type="checkbox" id="items_lit_{{item}}" (change)="suggest_lit(item)">
            <label id="label_{{item}}" for="items_lit_{{item}}"> {{item}}</label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
