<div id="list_product">
  <img class="banner" src={{banner}}>
  <div class="title-head">
    <div class="title-head-info">
      4 LỢI ÍCH CHỈ CÓ TẠI ĐIỆN MÁY XANH
      <div id="triangle-right"> </div>
    </div>
    <i class="fas fa-truck" aria-hidden="true"></i>Giao hàng miễn phí
    <i class="fa fa-cogs" aria-hidden="true"></i>Miễn phí công lắp đặt
    <i class="fa fa-retweet" aria-hidden="true"></i>1 đổi 1 trong 1 tháng (Nếu lỗi)
    <i class="fa fa-shield" aria-hidden="true"></i>Bảo hành chính hãng
  </div>
  <div *ngIf="id_loai_sanpham == 0"
    style="height: 53vh;font-size: 18px;font-weight: 600;padding-top: 122px;vertical-align: middle;text-align: center;">
    Không tìm thấy sản phẩm !!!
  </div>
  <div *ngIf="id_loai_sanpham != 0" class="body-list row">
    <div class="left-panel">
      <div class="radio-filter">
        <label style="margin-top: 8px; height: 24px;">
          <input type="checkbox" checked="checked">Mới 2020
        </label>
        <span>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_banchaynhat()">Bán
              chạy</span></label>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_caothapdenthap()">Giá
              cao đến thấp</span></label>
          <label><input type="radio" name="select" /><span class="span-radio-filter" (click)="show_giathapdencao()">Giá
              thấp đến cao</span></label>
        </span>
      </div>
      <div class="list">
        <div id="list_1">
          <ng-container *ngFor="let item of items">
            <a [routerLink]="['/appmain/productdetails', item._id]">
              <div class="box-list-product">
                <div><label class="tra-gop"> Trả góp 0% </label><img src="{{item.hinhdaidien}}"></div>
                <p class="list-product-name">{{item.ten}}</p>
                <p *ngIf="item.giamgia!=0 && item.giamgia!=null" style="color: #d0021b;">
                  {{item.giamgia| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                <p>{{item.giaban| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                <p style="color: #fc9639;" *ngIf="item.sosao !=0 && item.sosao !=null">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  {{item.sosao}}/5
                </p>
              </div>
            </a>
          </ng-container>
        </div>
        <div class="show-more-list-product" style="text-align: center;">
          <a (click)="show_more_list_product()">Xem thêm {{this.itemsphu.length-this.items.length}} sản phẩm</a>
        </div>
      </div>
    </div>
    <div class="right-panel">
      <!-- <h2>Chọn tivi theo cỡ màn hình</h2>
      <div class="suggest-inch">
        <a>
          <input type="checkbox" id="suggest_ich_input1" name="suggest_ich_input1" value="1">
          <label for="suggest_ich_input1"> Từ 32 - 43 inch</label>
        </a>
        <a>
          <input type="checkbox" id="suggest_ich_input2" name="suggest_ich_input2" value="2">
          <label for="suggest_ich_input2"> Từ 44 - 54 inch</label>
        </a>
        <a>
          <input type="checkbox" id="suggest_ich_input3" name="suggest_ich_input3" value="3">
          <label for="suggest_ich_input3"> Từ 55 - 64 inch</label>
        </a>
        <a>
          <input type="checkbox" id="suggest_ich_input4" name="suggest_ich_input4" value="4">
          <label for="suggest_ich_input4"> Từ 65 - 74 inch</label>
        </a>
        <a>
          <input type="checkbox" id="suggest_ich_input5" name="suggest_ich_input5" value="5">
          <label for="suggest_ich_input5"> Trên 75 inch</label>
        </a>
      </div>
      <div class="search-screen"><span>Hoặc tìm theo số inch</span>
        <div class="inputscreen">
          <i class="fa fa-search"></i>
          <input type="number" min="0" placeholder="Nhập số" maxlength="3" class="inch-input">
        </div>
      </div> -->
      <div class="filter-category">
        <h2>Hãng</h2>
        <div class="category" *ngFor="let category of categories, let i=index">
          <a>
            <input type="checkbox" id="category_{{category}}" (change)="suggest_category(category)">
            <label id="label_{{category}}" for="category_{{category}}"> {{category}}</label>
          </a>
        </div>
      </div>
      <div class="filter-price">
        <h2>Giá Bán</h2>
        <div class="category" *ngFor="let price of prices">
          <a>
            <input type="checkbox" id="price_{{price}}" (change)="suggest_price(price)">
            <label id="label_{{price}}" for="price_{{price}}"> {{price}}</label>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
