.banner {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.title-head {
  height: 60px;
  width: 100%;
  background-color: #fff;
  display: inline-block;
  border-radius: 5px;
  border: 2px solid #5b9d75;
  vertical-align: middle;
  margin-bottom: 10px;
}

.title-head i {
  color: #449b4385;
  font-size: 30px;
  padding: 10px 10px 10px 51px;
}

.box-list-product {
  height: 340px;
  width: 231px;
  padding: 10px 0 10px 0;
  vertical-align: middle !important;
  display: inline-block;
  text-align: center;

  img {
    margin: 0px 12px !important;
    width: 100%;
    max-height: 200px;
    height: auto;
    max-width: 209px;
  }

  .list-product-name {
    padding: 2px 11px;
    height: auto;
  }
}

.box-list-product:hover,
.box-list-product:focus {
  z-index: 10;
  box-shadow: 0 1px 1px 1px rgba(109, 107, 107, 0.075), 0 3px 3px 3px rgba(114, 112, 112, 0.212), 0 7px 7px 7px rgba(165, 162, 162, 0.212), 0 14px 14px 14px rgba(168, 166, 166, 0.089) !important;
  transform: translateY(-1em);
}

.tra-gop {
  background-color: #fbda00;
  // position: absolute; 
  top: 0;
  right: 0;
  font-size: 10px;
  color: #000;
  border-radius: 2px;
  line-height: 18px;
  text-align: center;
  padding: 0 5px;
}

#triangle-right {
  width: 0;
  height: 100%;
  border-top: 29px solid transparent;
  border-left: 19px solid #5b9d75;
  border-bottom: 29px solid transparent;
  float: right;
  margin-right: -29px;
  margin-top: -28px;
}

.title-head-info {
  height: 100%;
  width: 195px;
  background-color: #5b9d75;
  display: inline-block;
  padding: 10px 10px 10px 33px;
  margin-right: 10px;
  color: #fff;
}

.body-list {
  margin: 0;

  .left-panel {
    background-color: #fff;
    float: left;
    width: 77%;
    margin-right: 12px;

    div {
      span {
        label {
          display: block;
          padding: 5px;
          position: relative;
          padding-left: 20px;

          input {
            display: none;
          }

          span {
            border: 1px solid #ccc;
            width: 15px;
            height: 15px;
            position: absolute;
            overflow: hidden;
            line-height: 1;
            text-align: center;
            border-radius: 100%;
            // font-size: 10pt;
            left: 0;
            top: 50%;
            margin-top: -7.5px;
          }
        }

        input:checked+span {
          background: #ccf;
          border-color: #ccf;
        }
      }
    }
  }

  .right-panel {
    background-color: #fff;
    float: left;
    width: 22%;
    padding: 10px;
    // font-size: 18px;
    line-height: 35px;

    img {
      width: 100%;
      height: auto;
      max-width: 100%;
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
    }

    // a {
    //   font-size: 12px;
    // }
  }
}

.list {
  padding-top: 25px;
  height: auto;
}

.radio-filter {
  padding: 7px;
  width: 100%;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.span-radio-filter {
  width: 150px !important;
  height: 25px !important;
  border-radius: 5px !important;
  padding: 3px;
  top: 34% !important;
}

.radio-filter label {
  height: 30px;
  margin: 0px 20px;
  width: 150px;
  float: left !important;
}

ul {
  list-style-type: none;
}

.suggest-inch {
  display: block;

  a {
    display: inline-block;
    color: #4a90e2;
    vertical-align: top;
    width: 49%;
  }

  .iconcate-checkbox {
    background-position: 0 0;
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 7px;
  }
}

.inch-name {
  position: absolute;
  right: 27%;
  top: 8px;
}

.inch-input {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  margin-right: -3px;
}

.search-screen {
  margin: 2px;
  background: #eff5fd;
  border-radius: 2px;
  display: block;
  width: calc(100% - 4px);
  padding-bottom: 10px;
}

.filter-item{
  border-top: 1px solid rgb(173, 172, 172);
  padding-top: 10px;
  margin-top: 10px;
}

.category {
  font-weight: 600;
  width: 100%;
  display: inline-block;

  label {
    font-size: 16px;
    padding: 5px;
  }
}

a:hover {
  text-decoration: none;
  color: black;
}

#list_1 {
  height: 100%;
  overflow-y: hidden;
}
#list_1::-webkit-scrollbar { 
  display: none; 
}

.show-more-list-product {
  display: block;
  overflow: hidden;
  text-align: center;
  margin-bottom: 50px;

  a {
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 40px;
    font-size: 14px;
    color: #288ad6;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 4px;
    margin: 10px auto 0 auto;
    width: 400px;
    background-color: #fff;
  }

  a:hover {
    background: #288ad6;
    border-color: #288ad6;
    color: #fff;
  }

  a:after {
    content: '';
    width: 0;
    right: 0;
    border-top: 6px solid #288ad6;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 5px;
  }

  a:hover:after {
    border-top: 6px solid #fff;
  }
}
