.header{
    min-width: 1024px;
    background: #4a90e2;
    width: 100%;
    height: 102px;
    z-index: 999;
    position: relative;
}

section {
    max-width: 1200px;
    width: 100%;
    min-width: 980px;
    margin:0 auto;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

section {
    margin-top: 10px !important;
}