.editControls {
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: 80px;
  margin-right: 80px;
}

.editpanel {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 2rem;
  border: 1px solid #464645;
  border-radius: 7px;
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 2px;
  background-color: #979795;
  font-size: 13px;
}

.edittext {
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 2px;
  background-color: white;
  font-size: 13px;
  min-height: 100px;
}

.editor {
  resize: vertical;
  overflow: auto;
  border: 1px solid silver;
  border-radius: 5px;
  min-height: 100px;
  padding: 1em;
  background: white;
  margin: 0 auto;
  width: 100%;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
}

.btn-group {
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid #464645;
  border-radius: 20px;
}

.btn:first-child {
  margin-right: 10px;
}

.btn:last-child {
  margin-left: 10px;
}

.btn-primar:hover {
  color: white;
  background-color: #295c96;
  border: 2px solid #fbda00;
}

.btn-warning {
  color: white;
}

.btn-warning:hover {
  color: white;
  background-color: #e0d067;
  border: 2px solid #4a90e2;
}

.button {
  background-color: white;
  color: black;
  border: 1px solid white;
  margin-top: 30px;
  margin-right: 70px;
}

.buttonpanel {
  background-color: white;
  color: black;
  border: 1px solid white;
  margin-left: 80px;
}

.fa-1x {
  font-size: 50px !important;
}

.fa-2x {
  font-size: 20px !important;
  color: #f50909;
}

.image-wrap {
  padding: 10px;
  border: solid 1px #e0e0e0;
  display: inline-block;
}

.img-space {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  width: 400px;
  padding: 8px;
}

.img-space img {
  display: block;
  width: 380px;
  max-height: 350px;
  margin: auto;
  cursor: pointer;
}

.img-spacedd {
  border: dashed 1px #d3d3d3;
  border-radius: 8px;
  background-color: #f2f2f2;
  width: 400px;
  padding: 8px;
}

.img-spacedd img {
  display: block;
  width: 380px;
  max-height: 350px;
  margin: auto;
  cursor: pointer;
}

.fileInputProfileWrap {
  width: 400px;
  height: 340px;
}

.fileInputProfile {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 99;
  opacity: 0;
}

.fileInputProfile[disabled]+.img-space {
  pointer-events: none;
  cursor: not-allowed !important;
}
.img1{
  min-width: 120px;
  max-width: 250px;
  min-height: 120px;
  max-height: 140px;
}

