<div class="binhluan-popup">
  <div class="binhluan-title">Nhập thông tin</div>
  <div class="binhluan-info">
    <textarea (keyup)="textarea_text_change($event)" id="textarea_binhluanphu_modal" cols="30" rows="10"
      placeholder="Mời bạn chia sẻ thêm một số cảm nhận..."></textarea>
    <div class="bar-danhkemanh">
      <i style="display:inline-block;font-size: 30px; padding: 1px 15px; cursor: pointer;" class="fa fa-camera"
        (click)="openFile()" aria-hidden="true">
        <span style="font-size: 20px; text-align: center;">Đính kèm ảnh</span>
      </i>
      <p style="float: right; margin-top: 14px;">{{textarea_count}} /15 kí tự.</p>
    </div>
    <div class="filter">
      <div class="inline" *ngFor='let url of urls_blp,let i=index'>
        <ng-container>
          <div class="img-space">
            <ng-container *ngIf="isImageSaved">
              <img [src]="createImgPath(url)" class="img">
              <br>
            </ng-container>
          </div>
          <button class="btn btn-danger" (click)="Remove_img_blp(i)" *ngIf="isImageSaved">Xóa</button>
        </ng-container>
      </div>
    </div>
    <div class="custom-file">
      <input type='file' #file (change)="uploadFileimage_blp(file.files)" style="display:none" id="upload_file"
        style="display:none" multiple>
    </div>
    <div class="binhluan-radio">
      <input type="radio" id="binhluan_male" name="danh_gia_radio">
      <label> Anh</label>
      <input type="radio" id="binhluan_female" name="danh_gia_radio">
      <label> Chị</label>
    </div>
    <div>
      <input type="text" placeholder="Nhập họ tên (bắt buộc)" class="cfm-UserName">
      <input type="text" placeholder="Email (khi cần nhận phản hồi qua mail)" class="cfm-UserEmail">
    </div>
    <div>
      <button class="btn-submit-binhluan" type="submit" (click)="binhluan_save_modal()">Cập nhật</button>
    </div>
  </div>
</div>
