<html>
    <head>
        <script src="sanpham.js"></script>
    </head>
    <body>
        <div class="warpher">
            <a class="logo" title="Về trang chủ DienmayXanh.com" href="#">
                <img class="icondmx-logo" src="./assets/logo.PNG">
            </a>
        </div>
        <!-- breadcrumb -->
        <div class="body">
            <div class="title">
                <p>Sản Phẩm</p>
            </div>
            <hr>

            <div>
                <label for="loaisp">Loại sản phẩm:</label>
                <select  [(ngModel)] ="selected" (change)="valueChange($event)">
                    <option [ngValue]="undefined" disabled selected>Select Any </option>
                    <option *ngFor="let obj of alllsp" [ngValue]="obj._id" [selected]="obj._id == selected">{{obj.tendanhmuc}}</option>             
                </select>
                <br>  <br>
                <label for="tensp">Tên sản phẩm: </label>
                <input type="text" id="tensp">
                <br>  <br>
                <label for="thuonghieu">Thương hiệu:</label>
                <select  [(ngModel)] ="selectedthuonghieu" (change)="valueChangethuonghieu($event)">
                    <option [ngValue]="undefined" disabled selected>Select Any </option>
                    <ng-container *ngFor="let obj of sp ; let l=index">
                        <option *ngFor="let c of obj.thuonghieu" [ngValue]="c" [selected]="c== selectedthuonghieu">
                        {{c}}
                        </option> 
                    </ng-container>            
                </select>
                <br>  <br>
                <label for="dacdiem" >Đặc điểm: </label>
                <input type="text" id="dacdiem">
                <br>  <br>
                <label for="giasanpham">Giá sản phẩm: </label>
                <input type="number" id="giasanpham">
                <br>  <br>
                <label for="giamgia">Giảm giá: </label>
                <input type="number" id="giamgia">
                <br>  <br>
                <label>Thông số kỹ thuật: </label>
                <div class="card-body" >
                <table  *ngFor="let obj of sp; let i = index">
                    
                    <ng-container *ngFor="let c of obj.dactrung ; let l=index">
                    
                    <tr>
                        <td class="colhead" *ngFor="let key of keys(c)">
                            <p id="{{key}}" #keyname>{{key}}<p>
                        </td>
                    </tr>
                    <ng-container *ngFor="let key of keys(c) ">
                    <tr *ngFor="let v of c[key]; let k=index">

                        <td class="col1" >
                            <p> {{v}}</p>
                        </td>
                        <td class="col2">
                            <input type="text" name={{key}},{{v}} id="input{{l}}{{k}}" #maRef>
                        </td>
                    </tr>
                   
                    </ng-container>
                    </ng-container>
                    
                    
                </table>
                </div>
                <br>  <br>
                <label>Hình ảnh: </label>
                
            </div>
            <div style="text-align: center; padding-top: 30px;">
                <button type="button" id="save_sanpham" (click)="onSubmit()">Save</button>
                <button type="button" id="clear_sanpham" (click)="reset()">Clear</button>
            </div>
        </div>
    </body>
</html>

