.card-deck-container {
  position: relative;
  border-radius: 1px;
  flex: 0 0 100%;
  display: flex;
  background-color: #f5f5f5;
}
.container-fluid-center{
  flex: 0 0 100%;
  display: flex;
  justify-content: center;
}
.justify-content-center{
  justify-content: center;
}
.image-size{
  margin: 0.1rem;
}
.card-size{
  width: 130px;
  height: 130px;
}

.card-bottom{
	position:absolute;
	bottom:0;
	margin-top:100px;
}

.card-bottom-text{
	position:absolute;
	margin-bottom:100px;
}

.btn{
	padding: 5px 5px 5px 5px;
}

.example-card {
  border-color: #000;
  border-style: solid;
}

ngb-carousel {
    max-width: 690px;
    height: 356px;
    margin: auto;
}

ngb-carousel img {
    width: 100%;
    outline: none;
}

/*ngb-carousel {
    width: inherit;
    height: inherit;
}*/

.carousel-inner {
    overflow: visible;
}

.carousel-item {
    display: flex !important;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease-in-out, visibility 1.2s;
    z-index: -1;
}

.carousel-item.active{
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

.carousel-control-prev {
     z-index: 20;
}

.carousel-control-next {
     z-index: 20;
     
}

.carousel-caption{
    position: absolute;
    
}


.backgroundcarousel-caption{
    opacity: 0.5;
    background-color: #000;
}

.carousel-indicators{
    z-index: 20;
}

/*#ngb-slide-0 .owl-item {
    height: 55px;
    position: relative;
}

#ngb-slide-0 .owl-item .item {
    display: table;
    width: 98%;
    vertical-align: middle;
    position: relative;
    background: #fff;
    color: #666;
    text-align: center;
    cursor: pointer;
    height: 55px;
    font-size: 12px;
    padding: 0 1%;
    border-top: 4px solid #fff;
}

#ngb-slide-0 .owl-item:after {
    content: '';
    float: right;
    height: 30px;
    border-right: 1px solid #e5e5e5;
    position: absolute;
    top: 13px;
    right: 0;
}*/

.homerightcarasoule {
    width: 100%;
    padding-right: 280px;
    padding-left: 240px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.homeright {
    float: right;
    width: 260px;
    height: 356px;
    overflow: hidden;
}

.homeright figure {
    display: block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    background: #fff;
    line-height: 42px;
}

.homeright figure h2 a {
    padding: 10px 0;
    font-size: 14px;
    color: #4a90e2;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
}

.homeright figure h2 a:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid #4a90e2;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    display: inline-block;
    margin-left: 5px;
}

.homeright ul {
    display: block;
    overflow: hidden;
    height: 100px;
    position: relative;
}

.homeright ul li {
    display: block;
    padding: 7px 10px;
    border-bottom: 1px solid #ededed;
    background: #fff;
}

.homeright figure h2 {
    float: left;
    background: #fff;
    line-height: 1.3em;
    margin-left: 8px;
}

.backgroundhomerightbottom {
    display: flex;
    flex-direction: column;
    height: 203px;
    background-color: #fff;
}


.container{
    height:210px !important;
    margin-top:12px !important;
    margin-left:0px !important;    
}

.backgroundhomerightbottom a {
    flex: 1;
    color: #666;
    text-align: right;
    max-height: 70px;
}


a{
    text-decoration: none;
}

li .subcate {
    display: none;
    cursor: default;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 211px;
    height: 344px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.25);

}

.family-nav aside {
    width: 200px;
    padding: 5px 10px;
    float: left;
}


.family-nav aside strong {
    border-bottom: solid 1px #ddd;
    display: block;
    height: 25px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.family-nav aside a {
    line-height: 25px;
    display: -webkit-box;
    padding:2px 0 !important;;
}

.family-nav  li aside strong a {
    font-size: 12px;
    color: #4a90e2;
    font-weight: bold;
    margin-left: 10px;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

