
    <aside class="homeright">
      <figure>
        <h2>
          <a href="#https://www.dienmayxanh.com/kinh-nghiem-hay">Kinh nghiệm hay - Video</a>
        </h2>
      </figure>
      <ul>
        <li>
          <a href="#" title="Các công nghệ hình ảnh nổi bật trên tivi LG 2020">
          <p>
            <span>Các công nghệ hình ảnh nổi bật trên tivi LG 2020</span>
          </p>
          </a>
        </li>
        <li>
          <a href="#" title="Những lý do đồ gia dụng Xiaomi được ưa chuộng">          
          <p>
            <span>Những lý do đồ gia dụng Xiaomi được ưa chuộng</span>
          </p>
          </a>
        </li>
    </ul>

    <div class="container">
      <div class="backgroundhomerightbottom">
        <a href="https://www.dienmayxanh.com/beko">
          <img style="cursor: pointer; display: block; opacity: 1;" class="lazy" data-src="https://cdn.tgdd.vn/2020/05/banner/eshop_260x64-260x64-1.jpg" width="260" height="64" src="https://cdn.tgdd.vn/2020/05/banner/eshop_260x64-260x64-1.jpg">
        </a>

        <a href="https://www.dienmayxanh.com/beko">
          <img style="cursor: pointer; display: block; opacity: 1;" class="lazy" data-src="https://cdn.tgdd.vn/2020/03/banner/260x64(2)-260x64.png" width="260" height="64" src="https://cdn.tgdd.vn/2020/03/banner/260x64(2)-260x64.png">
        </a>

        <a href="https://www.dienmayxanh.com/beko">
          <img style="cursor: pointer; display: block; opacity: 1;" class="lazy" data-src="https://cdn.tgdd.vn/2020/05/banner/StickyBannerTCL-2-260x64.png" width="260" height="64" src="https://cdn.tgdd.vn/2020/05/banner/StickyBannerTCL-2-260x64.png">
        </a>
      </div>
    </div>
    </aside>
    <div class='homerightcarasoule'> 
        <ngb-carousel>  
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img height="346" src="./assets/maylanh.png" alt="Delhi Metro">
              </div>
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>  
                </div>   -->
            </ng-template>  
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">  
                <img height="346" src="./assets/maylockk.png" alt="Bangalore Metro">
              </div> 
                <!-- <div class="carousel-caption">
                  <span class="backgroundcarousel-caption">
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>
                  </span>
                </div>  --> 
            </ng-template>  
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">  
                <img height="346" src="./assets/maylocnuoc.png" alt="Channai Metro">
              </div> 
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray; background-color:alpha(opacity=30);">Khuyến mãi mùa hè</h3>  
                </div> -->  
            </ng-template>  
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">    
                <img height="346" src="./assets/quatdieuhoa.png" alt="Jaipur Metro">
              </div>
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>  
                </div>   -->
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">  
                <img height="346" src="./assets/TulanhMaylanh.png" alt="Mumbai Metro">
              </div>  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>  
                </div>   -->
            </ng-template>  
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">  
                <img  height="346" src="./assets/tivi.png" alt="Mumbai Metro">
              </div>  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi 10%</h3>  
                </div> -->
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">    
                <img height="346" src="./assets/tudong.png" alt="Mumbai Metro">
              </div>  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>  
                </div>  --> 
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">    
                <img height="346" src="./assets/tudong.png" alt="Mumbai Metro">
              </div>  
                <!-- <div class="carousel-caption">  
                    <h3 style="color: gray">Khuyến mãi mùa hè</h3>  
                </div>  --> 
            </ng-template>
        </ngb-carousel>
     
    </div>
	<div fxLayout="row wrap" fxLayoutWrap class="card-deck-container justify-content-start">
		<mdb-card class="col-md-3" *ngFor="let cv of sanphams.items">
			<mdb-card-body>
				<mdb-card-img width=130 height=130 src="{{cv.picture}}" alt="Card image cap"></mdb-card-img>
			</mdb-card-body>
			<mdb-card-body>
				<mdb-card-title>
					<p>{{cv.sp}}</p>
				</mdb-card-title>
				<mdb-card-text>
					<p style="color:red; text-align:Left">
						<b>
							{{cv.price}}
						</b>
					</p>
				</mdb-card-text>
			</mdb-card-body>
			<mdb-card-body>
				<mdb-card-text style="text-align: left" class="card-bottom">
					<button class="btn btn-outline-danger p-1 mx-1 mb-0">Like</button>
					<button class="btn btn-outline-info p-1 mx-1 mb-0">Coment</button>
				</mdb-card-text>
			</mdb-card-body>
		</mdb-card>
	</div>
