.filter {
  margin-left: 80px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 80px;
  background-color: #ffffffe7;
}

.inline {
  display: inline-block;
  text-align: center;
}

.button {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: 5px;
  padding: 0px 20px;
  min-width: 135px;
  min-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid #4a90e2;
}

.btn-group .button:hover {
  background-color: rgb(20, 163, 220) !important;
  color: white !important;
}

.btn-group-vertical .buttonth:hover {
  background-color: #fbda00 !important;
  color: white  !important;
  padding-left: 30px;
}

.btn-group:hover .btninbtnlsp {
  display: block !important;
}

.buttonth {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 0px 20px;
  min-width: 145px;
  min-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid #fbda00;
  z-index: 1;
  margin-left: 5px;
}

.container-fluid {
  z-index: 2;
  min-height: 500px;
  color: #000000;
}

.bak {
  background-image: url("/assets/logonguoi.png");
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 250px;
  min-height: 500px;
}

div.transbox {
  margin: 5%;
  font-weight: bold;
  color: #000000;
}

.btninbtnlsp {
  background-color: white;
  color: black;
  border: 1px solid #4a90e2;
  max-width: 30px;
  display: none;
}

.btninbtn {
  background-color: white;
  color: black;
  border: 1px solid #4a90e2;
  max-width: 30px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.btninbtnlsp:hover {
  color: white;
  width: 22px;
  max-height: 40px;
}

.buttonct {
  width: 5px;
  height: 5px;
}

.fa-1x {
  font-size: 8px !important;
}

.fas {
  vertical-align: middle !important;
  margin-top: -4px;
}

.buttonct {
  padding-right: 2px !important;
  padding-left: 2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  height: 50% !important;
  width: 22px !important;
  background-color: white;
  color: black;
  border: 1px solid #fbda00;
}

.btn-group-vertical .buttonct:hover {
  background-color: #87e24afa;
  color: white;
}

.buttonct:hover {
  height: 50% !important;
  width: 100% !important;
}

.fa-2x {
  font-size: 20px !important;
  color: #4a90e2;
}

.buttonpanel {
  background-color: transparent;
  text-align: center;
  border: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-right: 40px;
  border: 1px solid transparent;
  cursor: pointer;
}

.buttonplusquyen {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  margin-left: 5px;
  padding: 0px 20px;
  min-width: 100px;
  min-height: 40px;
  background-color: white;
  color: black;
  border: 1px solid #4a90e2;
}

.buttonplusquyen:hover {
  background-color: rgb(20, 163, 220);
  color: white;

  .fa-2x {
    font-size: 20px !important;
    color: white;
  }
}

.fa-3x {
  font-size: 18px;
}

.fa-check-circle {
  color: rgb(19, 216, 51);
}

.fa-times-circle {
  color: rgb(224, 39, 14);
}

.search-hero {
  max-width: 500px;
  margin: auto;
  text-align: center;
}