<div class="breadcrumb"></div>
<div id="product_details">
  <div *ngFor="let item of items">
    <div style="white-space: nowrap;width: 100%;  height: 1px;">
      <span style="float: left; font-size: 28px; padding-right: 10px; line-height: 14px;">{{item.ten}}</span>
      <div style="float: left;" *ngFor='let i of arrayOne(item.sosao)'>
        <i style="color: #fc9639; font-size:22px !important; margin-top: -20px;" class="fa fa-star"
          aria-hidden="true"></i>
      </div>
      <div *ngIf="item.sosao!=0 && item.sosao!=null">
        <div style="float: left;" *ngFor='let i of arrayTwo(item.sosao)'>
          <i style="color: #41404062; font-size:22px !important; margin-top: -20px;" class="fa fa-star"
            aria-hidden="true"></i>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="">
        <div class="row">
          <div class="col-4">
            <div style="text-align: center;">
              <img style="width: 100%;" src="{{item.hinhdaidien}}">
              <div class="wrapper-owl-carousel list-image">
                <owl-carousel-o [options]="customOptions">
                  <ng-container *ngFor="let k of arrayOne(item.hinh.length); let i=index">
                    <ng-template class="slide" carouselSlide>
                      <div class="box-image"><img src="{{item.hinh[i].hinhanh}}">{{item.hinh[i].mota}}</div>
                    </ng-template>
                  </ng-container>
                </owl-carousel-o>
              </div>
              <div class="special-box">
                <div *ngIf="item.dacdiemnoibat.trim().length >= 1" class="special">
                  <p> Đặc điểm nổi bật </p>
                </div>
                <div id="info_dacdiemnoibat">
                  <ul *ngFor="let special of item.dacdiemnoibat.trim().split('.')">
                    <li *ngIf="special.trim().length >=1">{{special}}</li>
                  </ul>
                </div>
                <div *ngIf="item.dacdiemnoibat.trim().split('.').length >1" id="more_info_dacdiemnoibat">
                  <a (click)="show_dacdiemnoibat_image()">Xem thêm đặc điểm nổi bật <i style="font-size: 13px;"
                      class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="price">
              <p>{{item.giaban| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
            </div>
            <div *ngIf="item.giamgia!=0 && item.giamgia!=null" class="price-sale-title">Giảm giá cực sốc chỉ còn:</div>
            <div *ngIf="item.giamgia!=0 && item.giamgia!=null" class="price-sale">
              {{item.giaban-item.giamgia| currency: 'VND' :'symbol':'3.0-0':'fr'}}</div>
            <div class="same-product">
              <ng-container *ngFor="let same_product of same_products">
                <div style="flex: 1; padding: 5px;">
                  <a [routerLink]="['/appmain/productdetails', same_product._id]" (click)="render_sp(same_product._id)">
                    <div class="box-same-product">
                      <span>
                        <sub class="icondetail-check"></sub>
                        <label></label>
                      </span>
                      <p style="color: #bf081f;">{{same_product.giaban| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                    </div>
                  </a>
                </div>
              </ng-container>
            </div>

            <div class="buy">
              <p>Còn hàng</p>
              <button>
                Mua Ngay
                <br>
                <span style="font-style: 14px;">Giao hàng tận nơi, không mua không sao</span>
              </button>
            </div>
            <div class="buy-two">
              <button style="margin-right: 5px;" href="javascript:void(0)">
                Mua trả góp 0%
                <br>
                <span style="font-style: 14px;">Thủ tục online đơn giản</span>
              </button>
              <button style="margin-left: 5px;">
                Trả góp 0% qua thẻ
                <br>
                <span style="font-style: 14px;">Visa, Master, JCB</span>
              </button>
            </div>
            <div style="border-top: 1px solid rgba(105, 104, 104, 0.253);padding:10px; margin-top: 20px;">
              Gọi đặt mua: <a style="color: blue; margin: 0px 5px;" href="tel:18001061"><i class="fa fa-phone"
                  aria-hidden="true"></i>1800.1061</a> (7:30-22:00)
            </div>
          </div>
          <div class="col-3">
            <div class="info">
              <h4>MUA NHƯ VUA - CHĂM SÓC NHƯ VIP</h4>
              <ul class="ul1">
                <li><i class="fa fa-cogs" aria-hidden="true"></i>Miễn phí công lắp đặt</li>
                <li><i class="fa fa-retweet" aria-hidden="true"></i>Lỗi là đổi mới trong 1 tháng tận nhà</li>
                <li><i class="fa fa-mobile" aria-hidden="true"></i>Đổi trả và bảo hành cực dễ chỉ cần số điện thoại</li>
                <li style="border: 0px;"><i class="fa fa-shield" aria-hidden="true"></i>Bảo hành chính hãng tivi 2 năm,
                  có người đến lấy tận nhà</li>
              </ul>
              <ul class="ul2">
                <li><i class="fa fa-check" aria-hidden="true"></i>Thùng tivi có: Chân đế, Remote thông minh, Sách hướng
                  dẫn</li>
                <li style="border: 0px;"><i class="fa fa-check" aria-hidden="true"></i>Bảo hành Remote 1 năm - Xem điểm
                  bảo hành</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="sp_tuongtukhucgia">
      <p style="font-size: 25px;">Sản phẩm tương tự cùng phân khúc giá</p>
      <div>
        <div class="wrapper-owl-carousel">
          <owl-carousel-o [options]="customOptions_same">
            <ng-container *ngFor="let same_price of same_price_products">
              <ng-template class="slide" carouselSlide>
                <a (click)="render_sp(same_price._id)">
                  <div class="box-image-same-price">
                    <div style="text-align: center; height: 257px; padding-top: 10px;"><label class="tra-gop"> Trả góp
                        0% </label><img src="{{same_price.hinhdaidien}}"></div>
                    <p style="padding: 2px 25px; min-height: 37px;">{{same_price.ten}}</p>
                    <p *ngIf="same_price.giamgia!=0 && same_price.giamgia!=null" style="color: #d0021b;">
                      {{same_price.giamgia| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                    <p>{{same_price.giaban| currency: 'VND' :'symbol':'3.0-0':'fr'}}</p>
                    <p style="color: #fc9639;" *ngIf="same_price.sosao !=0 && same_price.sosao !=null"> <i
                        class="fa fa-star" aria-hidden="true"></i>{{same_price.sosao}}/5</p>
                  </div>
                </a>
              </ng-template>
            </ng-container>
          </owl-carousel-o>
        </div>
      </div>
    </div>
    <div
      style="margin-top:30px !important;border-top: 1px solid rgba(105, 104, 104, 0.253); padding-top: 20px; font-size: 20px;">
      <div class="row">
        <div class="col-8">
          <article id="article_image"
            style="height: 482.594px;display: block; overflow: hidden; line-height: 23px; padding-bottom: 12px;">
            <ng-container *ngFor="let k of item.gioithieu">
              <div style="width: 100%;">
                <p style="padding: 10px 0px;">{{k.mota}}</p>
                <img style="max-width: 799px;" src="{{k.hinhanh}}">
              </div>
            </ng-container>
          </article>
          <p id="more_info_gioithieu">
            <a (click)="show_article_image()">Đọc thêm <i style="color: rgb(255, 255, 255); font-size: 23px;"
                class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
          </p>
        </div>
        <div class="col-4">
          <div class="thong-so-ky-thuat">
            <h2 style="font-size: 18px;">Thông số kỹ thuật</h2>
            <ul style="margin-top: 10px;">
              <ng-container *ngFor="let k of item.thongsokythuat, let i=index">
                <ng-container *ngFor="let key of keys(k)">
                  <li>
                    <span style="font-weight: 600;" class="special-name">{{key}}</span>
                    <span class="non-special-name">: {{k[key][0][keys(k[key][0])]}}</span>
                  </li>
                </ng-container>
              </ng-container>
            </ul>
            <p id="more_info_thongsokythuat">
              <a (click)="show_thongsokythuat(item.ten,item.thongsokythuat)">Xem chi tiết thông số kỹ thuật</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <div style="margin-top:30px !important;padding-top: 20px; font-size: 20px;">
          <p> đánh giá {{item.ten}}</p>
          <div id="comment_1" class="row">
            <div id="comment_1_1" class="row col-12">
              <div
                style="font-size: 87px !important;color: #fc9639; padding: 49px 0 10px 15px; border-right: 1px solid rgba(22, 20, 20, 0.342);"
                class="col-3">
                {{item.sosao}}
                <i class="fa fa-star" aria-hidden="true"></i>
              </div>
              <div class="col-6">
                <ul>
                  <li><a>5 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar5}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>4 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar4}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>3 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar3}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>2 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar2}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>1 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar1}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                </ul>
              </div>
              <div style="margin-top: 30px;text-align: center;" id="show_hide_comment_1" class="col-3">
                <a id="show_hide_danhgiasosaoa" (click)="show_hide_danhgiasosao()">
                  <div id="show_hide_danhgiasosao">
                    Đánh giá ngay
                  </div>
                </a>
              </div>
            </div>
            <div id="comment_1_2" class="row col-12">
              <div class="col-5">
                <div style="font-size: 72px !important;color: #fc9639;">
                  {{item.sosao}}
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
                <ul>
                  <li><a>5 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar5}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>4 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar4}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>3 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar3}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>2 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar2}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                  <li><a>1 sao</a>
                    <mat-progress-bar mode="determinate" value="{{sumstar1}}"></mat-progress-bar> <a> đánh giá</a>
                  </li>
                </ul>
              </div>
              <div id="show_hide_comment_1" class="col-7">
                <a (click)="show_modal_danhgia(item.ten)">
                  <div style="margin-top: 30px;text-align: center; margin-right: 20px" id="show_hide_danhgiasosao">
                    Đánh giá ngay
                  </div>
                </a>
                <div style="width:100%; height: auto; min-height: 100px; margin-top: 40px;" class="show-danh-gia">
                  <div *ngFor="let slot_danh_gia of this.resulf_danhgia">
                    <p *ngIf="!slot_danh_gia.includes('?')" style="font-size: 16px;">{{slot_danh_gia}} ?</p>
                    <p *ngIf="slot_danh_gia.includes('?')" style="font-size: 16px;">{{slot_danh_gia}}</p>
                    <span></span>
                    <mat-progress-bar mode="determinate" value="50" style="height: 9px;padding: 0;margin: 0;">
                    </mat-progress-bar><span></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12" style="padding-top:20px;list-style-type:none; width: auto; max-width: 66vw;">
              <h6 style="display: inline; margin-right: 10px;">Chọn đánh giá của bạn</h6>
              <a (click)="choose_star(1)" style="display: inline-block;">
                <div (mouseover)="mouseover_star(1)" (mouseleave)="mouseleave_star()"><i class="fa fa-star"
                    aria-hidden="true" id="star_1"></i></div>
              </a>
              <a (click)="choose_star(2)" style="display: inline-block;">
                <div (mouseover)="mouseover_star(2)" (mouseleave)="mouseleave_star()"><i class="fa fa-star"
                    aria-hidden="true" id="star_2"></i></div>
              </a>
              <a (click)="choose_star(3)" style="display: inline-block;">
                <div (mouseover)="mouseover_star(3)" (mouseleave)="mouseleave_star()"><i class="fa fa-star"
                    aria-hidden="true" id="star_3"></i></div>
              </a>
              <a (click)="choose_star(4)" style="display: inline-block;">
                <div (mouseover)="mouseover_star(4)" (mouseleave)="mouseleave_star()"><i class="fa fa-star"
                    aria-hidden="true" id="star_4"></i></div>
              </a>
              <a (click)="choose_star(5)" style="display: inline-block;">
                <div (mouseover)="mouseover_star(5)" (mouseleave)="mouseleave_star()"><i class="fa fa-star"
                    aria-hidden="true" id="star_5"></i></div>
              </a>
              <br>
              <br>
              <textarea (keyup)="textarea_text_change($event)"
                style="font-size: 16px; width: 100%; color: rgba(177, 174, 174, 0.664); padding: 5px;"
                id="textarea_danhgiasosao" cols="30" rows="10"
                placeholder="Mời bạn chia sẻ thêm một số cảm nhận..."></textarea>
              <!-- <div
                style="display: block; overflow: hidden; position: relative; color: rgba(79, 248, 130, 0.815); border: 0;background: #e4dadab2; width: 100%; height: 40px; padding: 6px; margin-top: -4px;margin-bottom: 14px;">
                <i style="font-size: 30px; padding: 1px 15px;" class="fa fa-camera" aria-hidden="true"></i>
                Đính kèm ảnh
                <p style="float: right; margin-top: 14px;">{{textarea_count}} /15 kí tự.</p>
              </div>
              <div class="custom-file">
                <input type='file' id="uploadCaptureInputFile" (change)="onSelectFile($event)" multiple>
              </div>
              <div class="comment-1-input">
                <input placeholder="Họ tên(Bắc buộc)" type="text">
                <input style="margin: 0 8px; font-size: 14px;" placeholder="Số điện thoại (Bắt buộc)" type="number">
                <input placeholder="Email (Không bắt buộc)" type="text">
              </div> -->
              <div (click)="openFile()" class="btn-open-file">
                <span style="cursor: pointer;"><i style="font-size: 30px; padding: 1px 15px;" class="fa fa-camera"
                    aria-hidden="true"></i>
                  Đính kèm ảnh</span>
                <p style="float: right; margin-top: 14px;">{{textarea_count}} /80 kí tự.</p>
              </div>
              <div class="filter">
                <div class="inline" *ngFor='let url of urls,let i=index'>
                  <ng-container>
                    <div class="img-space">
                      <div class="d-flex justify-content-end" ><i class="fas fa-times-circle fa-2x" (click)="Remove(i)"></i></div>
                      <ng-container *ngIf="isImageSaved">
                        <img [src]="createImgPath(url)" height="100"> <br />
                      </ng-container>
                    </div>
                    
                  </ng-container>
                </div>
              </div>
              <div class="custom-file">
                <input type='file' #file (change)="uploadFileimage(file.files)" style="display:none"
                  id="uploadCaptureInputFile" multiple>
              </div>
              <div class="comment-1-input">
                <input id="hoten" placeholder="Họ tên(Bắc buộc)" type="text">
                <input id="sdt" style="margin: 0 8px; font-size: 14px;" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" placeholder="Số điện thoại (Bắt buộc)"
                  type="text">
                <input id="email" placeholder="Email (Không bắt buộc)" type="text">
              </div>
              <a>
                <div class="btn-gui-danhgia" (click)="guidanhgiangay()">
                  GỬI ĐÁNH GIÁ NGAY
                </div>
              </a>
            </div>
          </div>
          <div class="comment-2">
            <ng-container>
              <div style="float:left">
                <span style="font-weight: 500;"></span>
              </div>

              <ul style="list-style-type: none; ">
                <div *ngFor="let item_danhgia of items_danhgia">
                  <li class="danhgia-list">
                    <div>
                      <span class="danhgia-name"> {{item_danhgia.ten}} </span>
                    </div>
                    <div class="danhgia-info">
                      <p>
                        <span>
                          <div style="float:left">
                            <div style="float: left;" *ngFor='let i of arrayOne(item_danhgia.sosao)'>
                              <i style="color: #fc9639;" class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <div style="float: left;" *ngFor='let i of arrayTwo(item_danhgia.sosao)'>
                              <i class="fa fa-star" aria-hidden="true"></i>
                            </div>
                            <p></p>
                          </div>
                        </span>
                        
                        <i style="margin-left: 10px;">{{item_danhgia.noidung}}
                        </i>
                      </p>
                    </div>
                    <div class="reply-danhgia">
                      <a href="javascript:void(0)" id="showdg{{item_danhgia._id}}" (click)="show_danhgia_thaoluan(item_danhgia._id)">
                        Thảo luận
                      </a>
                      <span> • </span>
                      <a href="javascript:void(0)">
                        <i class="fa fa-thumbs-up"></i>
                        Hữu ích
                      </a>
                    </div>

                  </li>
                  <ng-container *ngIf="show(item_danhgia._id).length>0">
                    <li class="rep-comment-info" id="rep-comment-info{{item_danhgia._id}}">
                      <div *ngFor="let item of show(item_danhgia._id)">
                        <div class="rep-comment-info-dg" style="margin-bottom: 10px;">
                        <div>
                          <span>{{item.ten}}
                            <label class="qtv" *ngIf="item.chucdanh==true">QTV</label>
                          </span>
                        </div>
                        <div>
                          <p>
                            <i>{{item.noidung}}</i>
                          </p>
                        </div>
                        <div>
                          <a href="javascript:void(0)" class="cmtl">
                            <i class="fa fa-thumbs-up"></i>
                            Hữu ích
                          </a>
                        </div>
                        </div>
                      </div>
                    </li>
                  </ng-container>
                  <li class="rep-comment-info-input" id="rep-comment-info-input{{item_danhgia._id}}">
                    <input id="input{{item_danhgia._id}}" placeholder="Nhập thảo luận của bạn">
                    <a (click)="show_insert_danhgiaphu(item_danhgia._id)">GỬI</a>
                  </li>
                </div>
              </ul>
            </ng-container>
            <p id="more_info_danhgia">
              <a>Xem thêm đánh giá</a>
            </p>
          </div>
          <div class="comment-3">
            <textarea class="comment-3-textarea" (click)="textarea()" cols="30" rows="10"
              placeholder="Mời bạn nhập tiếng việt có dấu"></textarea>
            <div class="comment-3-textarea-show row" style="display: none;">
              <div class="col-12">
                <textarea class="textarea_danhgia" (keypress)="resize('.textarea_danhgia')" cols="30"
                  rows="10"></textarea>
              </div>
              <div class="col-12">
                <div class="footer-textarea-danhgia">
                  <div class="footer-textarea-danhgia-first-div" (click)="openFile_bl()" >
                    <a>
                      <i style="font-size: 20px; padding: 1px 10px;" class="fa fa-camera" aria-hidden="true"></i>
                      Gửi hình
                    </a>
                  </div>
                  <div class="footer-textarea-danhgia-second-div">
                    <div class="comment-3-radio-button">
                      <input type="radio" id="male" name="gender">
                      <label for="male">Anh</label>
                      <input type="radio" id="female" name="gender">
                      <label for="female">Chị</label>
                    </div>
                    <input id="ht" type="text" placeholder="Họ tên bắt buộc">
                    <input id="emailbl" type="text" placeholder="Email" style="padding:2px 0; margin-left: 5px;">
                    <a class="btn-gui" (click)="insertbl()">
                      <div>Gửi</div>
                    </a>
                  </div>
                </div>
                <div class="filter">
                  <div class="inline" *ngFor='let url of urls_bl,let i=index'>
                    <ng-container>
                      <div class="img-space">
                        <div class="d-flex justify-content-end"><i class="fas fa-times-circle fa-2x" (click)="Removeimgbl(i)" ></i></div>
                        <ng-container *ngIf="isImageSavedbl">
                          <img [src]="createImgPath(url)" height="100"> <br />
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="custom-file">
                  <input type='file' #filebl (change)="uploadFileimage_bl(filebl.files)" style="display:none"
                    id="uploadCaptureInputFile_bl" multiple>
                </div>
              </div>
            </div>
            <div class="list-comment">
              <ng-container>
              <div *ngFor="let item_comment of item_comments | paginate: { itemsPerPage: 10, currentPage: p };">
              <div class="comment_ask">
                <i class="iconcom-user">{{item_comment.ten.substring(0,1)}}</i>
                <strong>{{item_comment.ten}}</strong>
                <div class="infocom_ask">{{item_comment.noidung}}</div>
                <div class="relate_infocom">
                  <a (click)="show_insert_binhluanphu(item_comment._id,item_comment.ten)">
                    <span class="reply-comment">Trả lời </span>
                  </a>
                  <b class="dot">●</b>
                  <a href="javascript:void(0)">
                    <i class="fa fa-thumbs-up"></i>
                    <span class="like"> Thích</span>
                  </a>
                  <span>
                    <b class="dot">●</b>
                  </span>
                </div>
              </div>
              <ng-container *ngIf="showbinhluanphu(item_comment._id, item_comments).length>0">
              <div *ngFor="let itembl of showbinhluanphu(item_comment._id, item_comments),let i=index">
              <div class="comment_reply">
                <i class="arrow_box"></i>
                <div class="comment_ask">
                  <div class="avt-qtv">
                    <img style="width: 30px;" src="/assets/ic_dmx_blue.jpg">
                  </div>
                  <strong>{{itembl.ten}}</strong>
                  <b *ngIf="itembl.chucdanh==true" class="qtv">Quản trị viên</b>
                  <div class="infocom_ask">
                    <div class="conticon">
                      <div class="cmtcontent">{{itembl.noidung}}</div>
                      <div class="relate_infocom">
                        <a (click)="show_insert_binhluanphu(item_comment._id,itembl.ten)">
                          <span class="btnreply">Trả lời </span>
                        </a>
                        <b class="dot">●</b>
                        <a href="javascript:void(0)" class="favor satis">
                          <i class="fa fa-thumbs-up"></i>
                          Hài lòng
                          <span></span>
                        </a>
                        <ng-container *ngIf="itembl.chucdanh==true">
                          <b class="dot">●</b>
                          <a href="javascript:void(0)" id="khl{{i}}" (click)="clickkohailong(i)" class="favor satis">
                            <i class="fa fa-thumbs-down"></i>
                            Không hài lòng
                            <span></span>
                          </a>
                        </ng-container>
                        <div class="wrapsatis" id="khl_dg{{i}}" style="display: none;">
                          <div class="wrsct">
                            <div>
                              <i (click)="close(i)" class="fas fa-times "></i>
                              <span>Điện máy XANH rất tiếc đã làm bạn chưa hài lòng. Mời bạn góp ý để
                                <b>QTV {{itembl.ten}}</b> phục vụ tốt hơn:
                              </span>
                             
                            </div>
                            <textarea placeholder="Nhập nội dung góp ý" type="text" class="ustCt"></textarea>
                            <span>Hãy để lại thông tin để được hỗ trợ khi cần thiết (không
                              bắt buộc):</span>
                            <input placeholder="Họ tên" type="text" class="ustName">
                            <input placeholder="Số điện thoại" type="text" class="ustPhone">
                            <a href="javascript:void(0)">GỬI</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </ng-container>
              </div>
              </ng-container>
             
            </div>
            <pagination-controls style="margin-top: 10px; margin-bottom: 10px; font-size: 13px;" (pageChange)="p = $event"></pagination-controls>
            <textarea (click)="render_textarea()" cols="30" rows="10"
              placeholder="Mời bạn nhập tiếng việt có dấu"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
