
<div class="fillterbak">
<div class="bak">
	<div class="container-fluid">
		<div class="d-flex justify-content-end">
			<div class="btnright">
				<button class="buttontl" (click)="taolsp()">Thêm loại sản phẩm</button>
				<button class="buttontsp" (click)="taosp()">Thêm sản phẩm</button>
			</div>
		</div>
		<div class="filter ">
			<div class="d-flex justify-content-center">
			<div class="inline" >
				<ng-container *ngFor="let obj of alllsp">
				<div class="btn-group">
					<button class="button" (click)="loaddetaillsp(obj._id)">{{obj.tendanhmuc | uppercase}}</button>
					<div class="btn-group-vertical btninbtnlsp">
						<button type="button" class="buttonct" (click)="detailsp(obj._id)"><i class="fas fa-plus fa-1x" aria-hidden="true"></i></button>
						<button type="button" class="buttonct" (click)="detailsp(obj._id)"><i class="fas fa-pen-nib fa-1x" aria-hidden="true"></i></button>
					</div>
				</div>
				</ng-container>
			</div>
			</div>
		</div>
		<div class="filter ">
			<div class="d-flex justify-content-center">
			<div class="inline" *ngFor="let obj of lspth, let i=index">
				<ng-container *ngFor="let i of obj.thuonghieu">
					<div class="btn-group-vertical">
						<button class="buttonth" (click)="loadtensp(obj._id+','+i)">{{i}}</button>
					</div>
				</ng-container>
			</div>
			</div>

		</div>
		<div class="filter">
			<div>
				<ng-container *ngIf="tensanpham.length > 0">
					<table class="table table-striped" style="text-align: center">

						<thead >
							<tr>
								<th>#</th>
								<th>Tên sản phẩm</th>
								<th>Thương hiệu</th>
								<th>Giá bán</th>
								<th>Giảm giá</th>
								
							</tr>
						</thead>

						<tbody>
							<tr *ngFor="let item of tensanpham | paginate: { itemsPerPage: 8, currentPage: p }; let i=index">
								<td>{{i+1}}</td>
								<td><a (click)="chitietsp(item._id)">{{item.ten}}</a></td>
								<td>{{item.thuonghieu}}</td>
								<td>{{item.giaban}}</td>
								<td>{{item.giamgia}}</td>
								
							</tr>
						</tbody>
						
						
					</table>
					<pagination-controls (pageChange)="p = $event"></pagination-controls>
				</ng-container>
			</div>
		</div>
	</div>
</div>
</div>