/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.body{
  font: 14px/18px Arial,Helvetica,sans-serif;
}

.navbar{
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: auto;
}

.bg-light{
    background: #fff !important;
}

.container{
    margin-right:80px;
    margin-left:80px;
    padding-right:0px;
    padding-left:0px;
}