/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
  	font: 14px/18px Arial,Helvetica,sans-serif;
	background: #f3f3f3;
}

.navbar{
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: auto;
}

.bg-light{
    background: #fff !important;
}

.container{
    max-width:1200px;
    width:100%;
    margin-top:auto;
    padding-right:0px;
    padding-left:0px;
}


@media screen and (max-width: 1319px) {
   .container{
        margin-right:0px !important;
        margin-left:0px !important;
    }

    .homeright{
        right:-50px;
    }
}



a {
    padding: 0px;
    font-size: .9375rem;
    font-weight: 300;
    color: #000;
}

.carousel-control-next-icon {
    width: 30px;
    height: 51px;
    background-color: #000;
    margin-left:70px;
}

.carousel-control-prev-icon {
    width: 30px;
    height: 51px;
    background-color: #000;
    margin-right:70px;
}

.carousel-indicators {
    margin-bottom: 30px;
    width:100%;
    margin-left:0px;
    margin-right:0px;
    top: 336px;
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 138px;
    height: 10px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
    background-color: #588fd0;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, del, em, img, strong, sub, sup, b, u, i, center, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, nav, section, summary, mark, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}